@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;

400;500;600;700&display=swap);@import url(https://fonts.googleapis.com/icon?family=Material+Icons);@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Varela+Round&display=swap);* {
  font-family: system-ui;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.1;
}

.custom-file-container label {
  font-size: 12px;
}

.listtruong {
  height: 300px;
}

.listtruong ul {
  padding: 8px 16px;
  list-style: none;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.listtruong ul li {
  display: block;
  font-size: 14px;
  font-weight: 400;
}

.hoso_block .title {
  display: block;
  font-size: 16px;
  width: 50%;
  height: auto;
}

.hoso_block .content {
  display: block;
  font-size: 20px;
  font-weight: 500;
}

.profile_img_side {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px !important;
  height: 50px !important;
}

.profile-leftpanel {
  background: #fff;
  padding: 16px;
}

.profile-leftpanel ul {
  margin-top: 3px;
  padding: 0;
}

.profile-leftpanel ul li {
  list-style: none;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 3px;
}

li:hover .profile-leftpanel ul li:visited {
  background-color: #CCD0D7;
}

.profile-leftpanel ul .selected {
  background-color: #CCD0D7;
  color: #000;
}

.profile-leftpanel ul .selected a {
  color: #0c5460;
}

.profile-mainpanel {
  background: #fff;
  padding: 16px;
}

.danhsachdon {
  display: block;
}

.danhsachdon li {
  font-size: 14px;
  width: 50%;
  list-style: none;
  counter-increment: my-awesome-counter;
  display: inline-block;
  width: 40%;
}

@media (max-width: 479px) {
  .danhsachdon li {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .danhsachdon li {
    width: 100%;
  }
}

.danhsachdon li a {
  font-weight: 500;
}

.danhsachdon li::before {
  content: counter(my-awesome-counter);
  background: #65aee0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
  margin-bottom: 4px;
}

.list-widget-container {
  display: block;
  padding: 0;
  margin: 4px 4px 4px 0px;
}

.list-widget-container li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.list-widget-container li a {
  display: block;
  font-size: 16px;
  padding: 4px 8px;
  min-width: 100px;
  text-align: center;
}

.list-widget-container li a.current {
  border-bottom: 3px solid #00ba94;
  font-weight: 500;
}

.tracking-detail {
  padding: 3rem 0;
}

#tracking {
  margin-bottom: 1rem;
}

[class*=tracking-status-] p {
  margin: 0;
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

[class*=tracking-status-] {
  padding: 1.6rem 0;
}

.tracking-status-intransit {
  background-color: #65aee0;
}

.tracking-status-outfordelivery {
  background-color: #f5a551;
}

.tracking-status-deliveryoffice {
  background-color: #f7dc6f;
}

.tracking-status-delivered {
  background-color: #4cbb87;
}

.tracking-status-attemptfail {
  background-color: #b789c7;
}

.tracking-status-error,
.tracking-status-exception {
  background-color: #d26759;
}

.tracking-status-expired {
  background-color: #616e7d;
}

.tracking-status-pending {
  background-color: #ccc;
}

.tracking-status-inforeceived {
  background-color: #214977;
}

.tracking-list {
  border: 1px solid #e5e5e5;
}

.tracking-item {
  border-left: 1px solid #e5e5e5;
  position: relative;
  padding: 2rem 1.5rem .5rem 2.5rem;
  font-size: .9rem;
  margin-left: 3rem;
  min-height: 5rem;
}

.tracking-item:last-child {
  padding-bottom: 4rem;
}

.tracking-item .tracking-date {
  margin-bottom: .5rem;
}

.tracking-item .tracking-date span {
  color: #888;
  font-size: 85%;
  padding-left: .4rem;
}

.tracking-item .tracking-content {
  padding: .5rem .8rem;
  background-color: #f4f4f4;
  border-radius: .5rem;
}

.tracking-item .tracking-content span {
  display: block;
  color: #888;
  font-size: 85%;
}

.tracking-item .tracking-icon {
  line-height: 2.6rem;
  position: absolute;
  left: -1.3rem;
  width: 2.6rem;
  height: 2.6rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  background-color: #fff;
  color: #fff;
}

.tracking-item .tracking-icon.status-sponsored {
  background-color: #f68;
}

.tracking-item .tracking-icon.status-delivered {
  background-color: #4cbb87;
}

.tracking-item .tracking-icon.status-outfordelivery {
  background-color: #f5a551;
}

.tracking-item .tracking-icon.status-deliveryoffice {
  background-color: #f7dc6f;
}

.tracking-item .tracking-icon.status-attemptfail {
  background-color: #b789c7;
}

.tracking-item .tracking-icon.status-exception {
  background-color: #d26759;
}

.tracking-item .tracking-icon.status-inforeceived {
  background-color: #214977;
}

.tracking-item .tracking-icon.status-intransit {
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
  font-size: .6rem;
}

@media (min-width: 992px) {
  .tracking-item {
    margin-left: 10rem;
  }

  .tracking-item .tracking-date {
    position: absolute;
    left: -10rem;
    width: 7.5rem;
    text-align: right;
  }

  .tracking-item .tracking-date span {
    display: block;
  }

  .tracking-item .tracking-content {
    padding: 0;
    background-color: transparent;
  }
}

.applicant-cover {
  display: block;
  width: 100%;
  padding: 40px;
  background-color: #65aee0;
}

.img-paper {
  width: 100px;
  height: 100px;
  background-color: white;
  padding: 16px;
  border-radius: 60px;
  margin-left: 16px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.thongtindon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
  width: 100%;
  height: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thongtindon-phai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
  width: 100%;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.applicant-content {
  background-color: #fff;
  padding: 40px;
}

.vien-net-dut {
  border-bottom: 1px dashed #CCD0D7;
}

.marterial-shadow {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.file-block {
  border: 1px solid #cdcd;
  border-radius: 15px;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.file-block .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.file-block .description .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 1rem;
}

.file-block .description .icon {
  font-size: 48px;
}

.file-block .description .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

.file-block .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.file-block .action .action-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
  margin-top: 8px;
}

.file-block .action .action-child {
  display: block;
  text-align: center;
}

.title_danhmuc {
  padding-left: 1rem;
  text-transform: uppercase;
}

.title_danhmuc-grey {
  border-left: 3px solid grey;
}

.title_danhmuc-blue {
  border-left: 3px solid #65aee0;
}

.title_danhmuc-orange {
  border-left: 3px solid #ffc107;
}

.title_danhmuc-red {
  border-left: 3px solid #dc3545;
}

.itemdon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 3px;
  border-radius: 5px;
  padding: 8px;
}

.itemdon .dinhdanh {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.itemdon .dinhdanh .tennguoinop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.itemdon .dinhdanh .tendon {
  font-size: 14px;
  padding-left: 12px;
}

.itemdon .thongtin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 100px;
}

.itemdon-normal {
  background-color: #f9f9f9;
}

.itemdon-warm {
  background-color: rgba(255, 193, 7, 0.15);
}

.itemdon-danger {
  background-color: rgba(220, 53, 69, 0.15);
}

.itemdon:hover {
  background-color: #f5f5f5;
}

.list_thang {
  margin: 8px 16px 8px 16px;
  padding: 0;
  list-style: none;
}

.list_thang li {
  display: block;
  font-size: 16px;
  padding: 4px;
  margin-bottom: 3px;
}

.list_thang li h6 {
  display: inline-block;
}

.list_thang .hoanthanh {
  border-left: 3px solid #4cbb87;
}

.list_thang .choxacminh {
  border-left: 3px solid #65aee0;
}

.list_thang .thieu {
  border-left: 3px solid #dc3545;
}

.list_thang .chuadenhan {
  border-left: 3px solid #bcbcbc;
}

.phan-hoi-info {
  display: block;
}

.phan-hoi-info .ma-phan-hoi {
  font-size: 24px;
  display: block;
}

.phan-hoi-info .trang-thai-badge {
  display: inline-block;
  border-radius: 30px;
  padding: 4px 8px;
}

.phan-hoi-info .trang-thai-badge-open {
  color: #0b7ec4;
  border: 1px solid #0b7ec4;
}

.phan-hoi-info .trang-thai-badge-open::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.phan-hoi-info .trang-thai-badge-close::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\F1EA";
}

.phan-hoi-info .trang-thai-badge-close {
  color: #a80f00;
  border: 1px solid #a80f00;
}

.phan-hoi-info .trang-thai-badge-close::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\F1EA";
}

.phan-hoi-info .lop {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}

.phan-hoi-content .gopy-lop {
  padding: 8px 16px;
  border-left: 2px solid #e6e9ed;
}

.phan-hoi-content .gopy-lop .phan-hoi-nha-truong .content {
  margin-left: 1.5rem;
}

#listTruongSelected {
  margin-left: 0;
  padding: 16px 8px;
}

#listTruongSelected li {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  height: auto;
  padding: 4px 8px;
  margin-right: 8px;
  color: white;
  border-radius: 99px;
  background-color: #0b7ec4;
  margin-bottom: 1rem;
}

#listTruongSelected li button {
  background-color: white;
  color: #0b7ec4;
  border-radius: 99px;
}

.profile_avatar_bl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100% !important;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_avatar_bl .avatar_round {
  width: 60%;
  height: auto;
  border-radius: 999px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile_avatar_bl .contact_list {
  margin: 0px;
  padding: 4px 8px 4px 8px;
  list-style: none;
  width: 100%;
}

.profile_avatar_bl .contact_list .contact_item {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid silver;
  padding-bottom: 3px;
  font-size: 15px;
}

.profile_avatar_bl .contact_list .contact_item .label {
  display: inline-block;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 500;
}

.profile_avatar_bl .contact_list .contact_item .label i {
  margin-right: 6px;
}

.profile_avatar_bl .contact_list .contact_item .value {
  display: inline-block;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  text-align: right;
  font-weight: 500;
}

.profile_avatar_bl .contact_list .contact_item:last-child {
  border-bottom: none;
}

.info_group {
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info_group .label {
  color: #4a515b;
  width: 45%;
  font-weight: 500;
  font-size: 16px;
}

.info_group .value {
  color: #0d0f13;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.profile_top_menu {
  width: inherit;
  height: inherit;
  width: 100%;
  height: auto;
  list-style: none;
  background-color: #fff;
  padding: 16px 24px;
  white-space: nowrap;
}

.profile_top_menu .profile_top_menu_item {
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 8px;
}

.profile_top_menu .profile_top_menu_item a {
  font-size: 16px;
  font-weight: 500;
}

/* Profile container */

.profile {
  margin: 20px 0;
}

.img-responsive {
  width: 60%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Profile sidebar */

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  border-radius: 50% !important;
  border: 4px solid #fff;
}

.profile-usertitle {
  text-align: center;
  margin-top: 18px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
  display: block !important;
  width: 100%;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */

.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.table-responsive {
  margin: 0 0;
}

.table-wrapper {
  min-width: 1000px;
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.table-title {
  padding-bottom: 15px;
  background: #299be4;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn {
  color: #566787;
  float: right;
  font-size: 13px;
  background: #fff;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table-title .btn:hover,
.table-title .btn:focus {
  color: #566787;
  background: #f2f2f2;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
}

table.table td a:hover {
  color: #2196F3;
}

table.table td a.settings {
  color: #2196F3;
}

table.table td a.delete {
  color: #F44336;
}

table.table td i {
  font-size: 19px;
}

table.table .avatar {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  margin-right: 10px;
}

.status {
  font-size: 30px;
  margin: 2px 2px 0 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 10px;
}

.text-success {
  color: #10c469;
}

.text-info {
  color: #62c9e8;
}

.text-warning {
  color: #FFC107;
}

.text-danger {
  color: #ff5b5b;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}

.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}

.pagination li a:hover {
  color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
  background: #03A9F4;
}

.pagination li.active a:hover {
  background: #0397d6;
}

.pagination li.disabled i {
  color: #ccc;
}

.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

div.nav a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
  margin-right: 0px;
}

div.nav a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

div.nav a.active {
  color: #5b9bd1 !important;
  background-color: #f6f9fb !important;
  border-bottom: none;
  border-top: none;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

div.nav a.nav-link {
  background-color: #fff;
  border-bottom: 1px solid #f0f4f7;
  border-radius: 0;
  padding: 12px 8px 12px 16px !important;
}

div.nav a.nav-link i {
  min-width: 20px;
}

div.nav a:last-child {
  border-bottom: none;
}

.hoplop-content {
  padding: 16px;
}

.don_block {
  font-family: 'Varela Round', sans-serif !important;
  font-weight: 400;
}

.don_block .don_item .left_content {
  min-height: 100%;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100%;
}

.don_block .don_item .left_content .content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #cdcdcd;
  max-width: 600px;
  height: 100%;
  flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.don_block .don_item .left_content .content_wrapper .content_text {
  font-size: 18px;
  padding: 3px 0px;
}

.don_block .don_item .right_content {
  background: -webkit-gradient(linear, left top, right top, from(#0062ff), to(#61efff));
  background: linear-gradient(90deg, #0062ff 0%, #61efff 100%);
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100%;
}

.don_block .don_item .right_content .content_wrapper {
  border-bottom: 1px solid #fff3cd;
  height: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.don_block .don_item .right_content .content_wrapper .content_text {
  padding: 3px 0px;
  font-size: 18px;
  color: white;
}

.khaosat_heading1 {
  font-size: 18px;
  font-weight: 500;
}

.khaosat_heading2 {
  font-size: 16px;
  font-weight: 500;
  padding-left: 16px;
}

